# Python 캐시 무시
__pycache__/
*.pyc
*.pyo
*.env

# Gradle
backend/.gradle/
backend/build/
!backend/gradle/wrapper/gradle-wrapper.jar
!backend/gradle/wrapper/gradle-wrapper.properties

# Java
*.class
*.jar
*.war

# IDE
.idea/
*.iml
*.ipr
*.iws
out/

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/
.history/

# Node / FE
node_modules/

# Env
.env
**/.env

# Jenkins
jenkins_home/

# Logs
*.log

**/application.properties

**/bin