.main.check {
  padding: 30px 40px;
}

/* simplebar-react 보라색 스크롤바 커스텀 */
.simplebar-scrollbar:before {
  background: #754aff !important;
}
.simplebar-track.simplebar-vertical {
  width: 8px !important;
  background: transparent !important;
  top: 25px !important;
  bottom: 25px !important;
}
.simplebar-scrollbar.simplebar-visible:before {
  opacity: 1 !important;
}

@keyframes gradient-move-bg {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}
.btn-gradient-move {
  background: linear-gradient(90deg, #754aff, #b16dff, #754aff);
  background-size: 200% 100%;
  animation: gradient-move-bg 2s linear infinite;
}
